.profile__subtitle {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    align-self: center;
    color: #ffffff;
    padding-left: 46px;
    margin: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (min-width: 540px) {
    .profile__subtitle {
        font-size: 15px;
        line-height: 18px;
        padding-left: 25px;
    }
}

@media screen and (min-width: 768px) {
    .profile__subtitle {
        font-size: 16px;
        line-height: 20px;
        padding-left: 0px;
    }
}

@media screen and (min-width: 1024px) {
    .profile__subtitle {
        font-size: 17px;
        line-height: 21px;
    }
}

@media screen and (min-width: 1280px) {
    .profile__subtitle {
        font-size: 18px;
        line-height: 22px;
        padding-right: 90px;
        text-align: left;
    }
}