.profile__button-vector {
    background-image: url(../../../images/plus_profile.svg);
    max-width: 282px;
    min-height: 50px;
    background-color: inherit;
    border: 2px solid #fff;
    padding: 15px 130px 15px 132px;
    margin-top: 33px;
    cursor: pointer;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    border-radius: 2px;
}

.profile__button-vector:hover {
    opacity: 0.6;
}

@media screen and (min-width: 321px) {
    .profile__button-vector {
        max-width: 296px;
        margin: 36px auto 0px;
    }
}

@media screen and (min-width: 768px) {
    .profile__button-vector {
        max-width: 100px;
        margin: 75px 0px 74px 0px;
        padding: 16px 73px;
    }
}

@media screen and (min-width: 1024px) {
    .profile__button-vector {
        max-width: 150px;
        padding: 14px 64px;
        background-size: 22px 22px;
    }
}

@media screen and (min-width: 1280px) {
    .profile__button-vector {
        margin-top: 53px;
        margin-bottom: 88px;
    }
}