.header__signout {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #a9a9a9;
  background-color: black;
  text-decoration: none;
  padding-bottom: 45px;
}

.header__signout:hover {
  opacity: 0.8;
}