.element {
    background-color: #fff;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 215px 67px;
    grid-template-rows: 282px 79px;
    max-width: 282px;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}