.header__signin {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #ffffff;
  max-width: 114px;
  background-color: black;
  margin-top: 51px;
}