.popup__form {
    max-width: 238px;
    min-height: 27px;
    z-index: 4;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding: 0px;
    margin-top: 0px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    
}

@media screen and (min-width: 768px) {
    .popup__form {
        min-width: 358px;
    }
}

@media screen and (min-width: 1280px) {
    .popup__form {
        min-height: 30px;
    }
}