.popup__button-delete {
    min-width: 238px;
    min-height: 46px;
    margin: 38px 36px 36px 36px;
    background: #000000;
    border-radius: 2px;
    z-index: 4;
    padding: 0px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    border: none;
}

.popup__button-delete:hover {
    background: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 768px) {
    .popup__button-delete {
        align-self: center;
        min-width: 358px;
        min-height: 50px;
        font-size: 18px;
        line-height: 22px;
    }
}