.popup__button-rectangle_disabled {
    background-color: white;
    color: #E5E5E5;
    border: 1px solid #E5E5E5;
}

.popup__button-rectangle_disabled:hover {
    background-color: white;
    color: #E5E5E5;
    border: 1px solid #E5E5E5;
}