.profile__button-avatar {
    background-image: url(../../../images/profile_pencil.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px;
    width: 122px;
    height: 122px;
    position: absolute;
    border-radius: 50%;
    z-index: 3;
    padding: 0px;
    left: -1px;
    top: -1px;
    cursor: pointer;
    border: none;
    justify-self: start;
    opacity: 0;
    transition: all 0.2s linear;
    margin: 0px 79px 22px 82px;
    background-color: #000;
}

.profile__button-avatar:hover {
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .profile__button-avatar {
        width: 123px;
        height: 123px;
        margin: 37px 0px 37px 0px;
    }
}

@media screen and (min-width: 1280px) {
    .profile__button-avatar {
        width: 122px;
        height: 122px;
        margin: 20px 26px 49px 0px;
    }
}